# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*~

# Environments
.env
.venv/
env/
venv/
ENV/

# SQLite
*.sqlite

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# Pytest
.pytest_cache/